<template>
  <main id="app">
    <CatFactsHeader></CatFactsHeader>
    <CatFactsContainer></CatFactsContainer>
  </main>
</template>

<script>
import "bulma/css/bulma.css";
import CatFactsHeader from "./components/catFactsHeader.vue";
import CatFactsContainer from "./components/catFactsContainer.vue";

export default {
  components: { CatFactsHeader, CatFactsContainer },
  name: "App",
};
</script>