<template>
  <section class="columns">
    <aside
      class="column is-10 is-offset-1 has-background-danger-light mt-2"
      v-if="error"
    >
      <div class="is-size-5">An error has occured</div>
      <details>
        <div class="has-text-danger">{{ this.error }}</div>
        <div class="is-italic">
          The console or network tab may have more detail
        </div>
      </details>
    </aside>
    <section
      class="
        containerSection
        column
        is-10 is-offset-1
        mt-2
        is-flex-desktop is-flex-wrap-wrap
      "
    >
      <article
        v-for="(fact, index) in catFacts"
        :key="index"
        :ref="`card${index + 1}`"
        class="m-1 flexedCard"
      >
        <CatFactCard
          :catFact="fact"
          :factNum="`${index + 1}`"
          :bgColorClass="`${
            cardBgColorClasses[index % cardBgColorClasses.length]
          }`"
        ></CatFactCard>
      </article>
    </section>
  </section>
</template>

<script>
import axios from "axios";
import CatFactCard from "./catFactCard.vue";

export default {
  name: "CatFactsContainer",
  components: { CatFactCard },
  data() {
    return {
      catFactsRawResponse: {},
      catFacts: [],
      error: "",
      cardBgColorClasses: [
        "primary-light",
        "warning-light",
        "danger-light",
        "grey-lighter",
      ].map((color) => "has-background-" + color),
    };
  },
  created() {
    this.fetchCatFacts();
  },
  methods: {
    fetchCatFacts() {
      axios
        .get("https://catfact.ninja/facts?limit=9")
        .then((response) => {
          this.catFactsRawResponse = response.data?.data; // preserve entire response
          // this.catFactsRawResponse = null; // forces an error
          const catFacts = this.catFactsRawResponse.map((obj) => obj.fact);
          this.catFacts = catFacts.sort();
        })
        .catch((error) => {
          this.error = error;
        });
    },
  },
};
</script>
<style scoped>
.flexedCard {
  flex-basis: 32%;
}
</style>