<template>
  <div :class="bgColorClass" class="has-text-centered px-3 pb-3">
    <div class="is-size-3">Fact #{{ factNum }}</div>
    <div>{{ catFact }}</div>
  </div>
</template>
<script>
export default {
  name: "CatFactCard",
  props: {
    catFact: {
      type: String,
      required: true,
    },
    factNum: {
      type: String, // TODO: Why does specifying Number throw a warning
      required: true,
    },
    bgColorClass: {
      type: String,
      required: true,
    },
  },
};
</script>
<style scoped>
</style>
